@import url(core.css);


@media(max-width: 991px) {
    html{
        font-size: 55%;
    }

        
    .header-wrapper .toogle-search{
        display: flex;
        position: relative;
    }

   
    .header-wrapper .workpal-nav ul .nav-link{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        margin: 0;
    }
}

@media(max-width:768px) {
        .header-wrapper .workpal-nav{
            display: none;
        }

        .header-wrapper .icons{
           max-width: fit-content;
        }

        .logo-workpal img{
            max-width: 10rem;
        }
        .main-header{
            position: fixed;
            justify-content: space-evenly;
        }
        .main-header .header-wrapper {
            display: flex;
            justify-content: space-between;
        }
    
        .header-wrapper .toogle-nav,
        .header-wrapper .toogle-search-btn {
            display: flex;
            align-items: center;
        }

        .category-menu .category-menu-wrapper {
           display: flex;
           max-width: 100%;
        }
    
        .main-header .header-wrapper .search-header .search-form{
            display: none;
        }
        
}


@media (max-width:450px){
    html{
        font-size: 40%;
    }

}